# Assignment

### Ans1)

A database is a collection of data that is organized in a structured way to allow efficient storage, retrieval, and manipulation of data. Databases are used to store data for various applications, such as websites, enterprise software, and mobile apps.

SQL databases are relational databases that store data in tables with columns and rows, and use SQL as the standard language for querying and managing data. Examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server. SQL databases are ideal for applications that require complex queries, transactions, and data integrity.

NoSQL databases, on the other hand, are non-relational databases that store data in a flexible, document-based format or key-value pairs. NoSQL databases use their own query language, which may not be as powerful as SQL, but are designed for high scalability, performance, and availability. Examples of NoSQL databases include MongoDB, Cassandra, and Couchbase. NoSQL databases are ideal for applications that require high throughput and low latency, such as real-time analytics and streaming data processing.

### Ans2)

DDL stands for Data Definition Language, which is a subset of SQL that is used to define and modify the structure of database objects such as tables, indexes, and views. DDL commands are used to create, modify, and delete database objects.

1) CREATE: The CREATE command is used to create a new database object, such as a table or index. For example, to create a new table called "Class" in a database, you can use the following SQL statement:

CREATE TABLE Class (id INT PRIMARY KEY, name VARCHAR(40), age INT);

2) DROP: The DROP command is used to delete a database object, such as a table or index. For example, to delete the "Class" table from the database, you can use the following SQL statement:

DROP TABLE Class;

3) ALTER: The ALTER command is used to modify the structure of an existing database object. For example, to add a new column called "phone" to the "Class" table, you can use the following SQL statement:

ALTER TABLE Class ADD phone VARCHAR(20);

4) TRUNCATE: The TRUNCATE command is used to delete all data from a table without deleting the table itself. For example, to delete all data from the "Class" table, you can use the following SQL statement:

TRUNCATE TABLE Class;

### Ans3)

DML stands for Data Manipulation Language, which is a subset of SQL that is used to add, modify, and delete data in a database. DML commands are used to interact with the data stored in the database.
1) INSERT: The INSERT command is used to add new data to a table in the database. For example, to add a new student to the "Class" table, you can use the following SQL statement:

INSERT INTO Class (name, email, phone)
VALUES ( 'Amaan', 'Amaan@gmail.com','88432345');

2) UPDATE: The UPDATE command is used to modify existing data in a table. For example, to update the email address of a student in the "Class" table, you can use the following SQL statement:

UPDATE Class
SET email = 'Amaan234@gmail.com'
WHERE class_id = 1;

3) DELETE: The DELETE command is used to delete data from a table in the database. For example, to delete a student from the "Class" table, you can use the following SQL statement:

DELETE FROM Class
WHERE class_id = 1;

### Ans4)

DQL stands for Data Query Language, which is a subset of SQL that is used to retrieve data from a database. DQL commands are used to query and retrieve data from one or more tables in a database.
for ex:

SELECT name, email FROM customers;


This statement retrieves only the "name" and "email" columns from the "customers" table.

### Ans5)

1) In a relational database, a primary key is a column or a set of columns that uniquely identifies each row in a table. The primary key is used to enforce data integrity and ensure that each row in the table is unique. Primary keys are used as a reference for other tables to establish relationships between tables.

For example, in a table called "customers", the primary key might be the "customer_id" column. The primary key ensures that each row in the "customers" table is unique and can be used as a reference in other tables to establish relationships.

2) A foreign key, on the other hand, is a column or a set of columns in one table that references the primary key of another table. Foreign keys are used to establish relationships between tables and enforce referential integrity. In other words, a foreign key ensures that data in one table is consistent with the data in another table.

For example, if you have two tables called "orders" and "customers", you might use the "customer_id" column in the "orders" table as a foreign key to reference the "customer_id" column in the "customers" table. This establishes a relationship between the two tables and ensures that the customer information in the "orders" table is consistent with the customer information in the "customers" table.

### Ans6)

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="<HOST ID>",
  user="<USERNAME>",
  password="<PASSWORD>"
)
mycursor = mydb.cursor()
mycursor.execute("<SQL QUERY>")

The cursor() method is used to create a cursor object, which is used to execute SQL queries and retrieve data from a database. Once you have created a cursor object, you can use the execute() method to execute SQL queries.

The execute() method is used to execute SQL queries and retrieve data from a database. The execute() method takes a SQL query as a parameter and returns a result set. The result set contains the data retrieved by the query

### Ans7)

The order of execution of SQL clauses in an SQL query is as follows:

SELECT - this is the first clause in the query and specifies the columns to retrieve from the table.

FROM - this clause follows the SELECT clause and specifies the table or tables to retrieve data from.

JOIN - this clause is used to combine data from multiple tables.

WHERE - this clause is used to filter data based on certain conditions.

GROUP BY - this clause is used to group data based on one or more columns.

HAVING - this clause is used to filter data based on the groups created by the GROUP BY clause.

ORDER BY - this clause is used to sort the data in ascending or descending order.

LIMIT - this clause is used to limit the number of rows returned by the query.

DISTINCT - This clause is used to remove duplicate rows from the result set.