In [1]:
a= 10

In [2]:
a = 'c'

In [3]:
type(a)

str

In [6]:
int('123')

123

In [7]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [9]:
print("Hellow World")

Hellow World

In [10]:
print(123)

123

In [13]:
age=32
print("My age is:",age)

My age is: 32

In [15]:
## f string 
print(f"my age is: {age}")

my age is: 32

In [1]:
## format()
name = "Amaan"
age = "21"
print("my name is {} and age is {}".format(name,age))

my name is Amaan and age is 21

In [2]:
print("my name is {} and age is {}".format(age,name))

my name is 21 and age is Amaan

In [3]:
print("my name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

my name is Amaan and age is 21

In [7]:
Name = "Age"
Age = "21"
degree = "B.com"

#"My age is 21 and i have completed: my degree of BE with the name of Amaan"
print("My age is {firstage} and i have completed my degree of {firstdegree} with the name of {firstname}".format(firstage=age,firstdegree=degree,firstname=name))

My age is 21 and i have completed my degree of B.com with the name of Amaan

In [8]:
print("my age is {} and i have completed my degree of {} with the name of {}".format(age,degree,name))

my age is 21 and i have completed my degree of B.com with the name of Amaan

In [9]:
print(f"my age is {age} an i have completed my degree of {degree} with the name of {name}")

my age is 21 an i have completed my degree of B.com with the name of Amaan

## Control Flow
### Decission Making Statements

In [11]:
# if statements
age =18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [12]:
==,>=,<=

SyntaxError: invalid syntax (1367213465.py, line 1)

In [17]:
# if statements
age =18
if age<18:
    print("You are eligible to vote")

In [18]:
18<=18

True

In [19]:
input()

 Amaan

'Amaan'

In [20]:
## Task
## Take a input of age 
## check weather age >=18 and age<=45
## display a message you are young blood

In [24]:
age = int(input("Enter Your Age"))
if age>=18 and age <=45:
    print("You are young blood")

Enter Your Age 26

You are young blood

In [25]:
age = int(input("Enter Your Age"))
if age>=18 and age <=45:
    print("You are young blood")

Enter Your Age 55

In [28]:
#IF else statements
age = int(input("Enter Your Age"))
if age>=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

Enter Your Age 11

Thank you we will let you know

In [ ]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price
## product <=1000 ris 30% off
## print the product price

In [36]:
product = int(input("Input the product Price"))
if product>1000:
        print("The price of the product is {}".format(product*.8))
else:
        print("THe price of the product is {}".format(product*.7))

Input the product Price 100

THe price of the product is 70.0

In [ ]:
## mall- input the product price
## product >3000 20% off
## print the product price after removing discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing discount 
## product <=1000 rs and <=2000 40% off
## print the product price after removing discount

In [ ]:
product_price = int(input("Input the product price"))
if product_price>3000:
    print("The price of the product is {}".format(product*.8))
elif product_price>=2000 and product_price<=3000:
    print("The price of the product is {}".format(product*.7))
else:
    print("The price of the product is {}".format(product*.6))