# Assignment

### Ans1)

In [3]:
import pandas as pd

In [5]:
d= pd.Series([4,8,15,16,23,43])

In [6]:
print(d)

0     4
1     8
2    15
3    16
4    23
5    43
dtype: int64

### Ans2)

In [7]:
vrl=[1,"Amaan","amaan@gmail.com",23,"None",34,523,45,2,99]

In [9]:
sr=pd.Series(vrl)

In [10]:
print(sr)

0                  1
1              Amaan
2    amaan@gmail.com
3                 23
4               None
5                 34
6                523
7                 45
8                  2
9                 99
dtype: object

### Ans3)

In [18]:
names=['Alice','Bob','Claire']

In [19]:
ages=[25,30,27]

In [20]:
genders = ['Female','Male','Female']

In [24]:
df=pd.DataFrame({'Name':names,'Age':ages,'Gender':genders})

In [25]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Ans4)

In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, where each column can have a different data type and each row represents a separate observation or record. A DataFrame can be thought of as a collection of Series that share the same index.

On the other hand, a Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.). It can be thought of as a column of a DataFrame.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [26]:
dat={'Name':pd.Series(['Amaan','Abhishek','Sourav']),'Age': pd.Series([25,30,27])}

In [29]:
df=pd.DataFrame(dat)

In [32]:
age=df['Age']

In [33]:
print(df)

       Name  Age
0     Amaan   25
1  Abhishek   30
2    Sourav   27

In [34]:
print(ages)

0    25
1    30
2    27
Name: Age, dtype: int64

### Ans5)

Pandas offers a wide range of functions for manipulating data in a DataFrame. Some common functions that are frequently used include:

1) head() and tail(): These functions are used to display the first or last few rows of a DataFrame. They are useful for quickly checking the contents of a DataFrame.

2) info(): This function is used to display a summary of the DataFrame, including the data types, number of non-null values, and memory usage. It is useful for checking the overall structure of the DataFrame.

3) describe(): This function is used to display various summary statistics of the DataFrame, such as the mean, standard deviation, and quartiles of each column. It is useful for getting a quick overview of the distribution of the data.

4) groupby(): This function is used to group the DataFrame by one or more columns and apply an aggregate function (such as sum(), mean(), or count()) to each group. It is useful for analyzing relationships between different variables.

5) drop(): This function is used to remove one or more columns or rows from the DataFrame. It is useful for cleaning up the data or removing unnecessary information.

6) fillna(): This function is used to fill missing values in the DataFrame with a specified value or method (such as forward or backward fill). It is useful for handling missing data

    for ex :-

In [36]:
df=pd.read_csv('services.csv')

In [39]:
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [41]:
df.tail(4)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

### Ans6)

In pandas, both Series and DataFrame are mutable in nature. This means that you can modify their contents, add or remove elements, and change their values after they have been created.

For example, you can add a new column to a DataFrame or change the values in an existing column. Similarly, you can add or remove elements from a Series or change the values of its elements.

On the other hand, the Panel data structure has been deprecated since version 0.25.0 and replaced by the more flexible and efficient MultiIndex objects. Therefore, it is not recommended to use Panel in newer versions of pandas.

### Ans7)

In [43]:
names1= pd.Series(['Amaan','Abhishek','Ankita','Afreen','Sourav','Shivam'])
ages1=pd.Series(['22','23','25','22','24','21'])
genders1=pd.Series(['Male','Male','Female','Female','Male','Male'])

In [44]:
dat1={'Name':names1,'Age':ages1,'Gender':genders1}

In [46]:
df1=pd.DataFrame(dat1)

In [47]:
print(df1)

       Name Age  Gender
0     Amaan  22    Male
1  Abhishek  23    Male
2    Ankita  25  Female
3    Afreen  22  Female
4    Sourav  24    Male
5    Shivam  21    Male